/* Sizes */
.sizes {
    width: 20%;
    padding: 50px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: 10px;
}

/* Products */
.shop {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.shop button {
    height: 35px;
}

.showcount {
    width: 10px;
    height: 10px;
    font-size: 8px;
    border-radius: 50%;
    background: rgb(231, 181, 35);
    text-align: center;
    line-height: 10px;
    position: fixed;
    top: 20px;
    right: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.shoptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.shirt {
    width: 25%;
    position: relative;
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shirt:hover {
    border: 1px solid #ccc;
}

.shirt .show {
    background: black;
    color: white;
    width: 75px;
    height: 20x;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.shirt img {
    width: 100%;
}

.title {
    border-bottom: 1px solid rgb(231, 181, 35);
    padding: 10px;
}

.shirt p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shirt .hide {
    opacity: 0;
    background: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
}

.shirt button {
    width: 90%;
    height: 45px;
    color: white;
    background: black;
    outline: none;
    transition: background .3s;
    cursor: pointer;
}

.shirt button:hover {
    background: rgb(231, 181, 35) ;
}
/* Cart */
#sidebar {
    width: 35%;
}

.cartcount {
    position: relative;
}

.cartcount i {
    color: white;
    font-size: 50px;
}

.carticon {
    position: sticky;
    top: 0;
}

.cartcount p {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(231, 181, 35);
    text-align: center;
    line-height: 16px;
    position: absolute;
    bottom: 40%;
    left: 49%;
}

.incart {
    width: 100%;
}

.incart h3 {
    color: white;
}

.incart button {
    width: 90%;
    outline: none;
    transition: background .3s;
    cursor: pointer;
}

.incart button:hover {
    background: rgb(231, 181, 35) ;
}

.cartshirt {
    display: flex;
    margin: 10px; 
    color: white;
    justify-content: space-between;
    align-items: center;
}

.cartshirt img {
    width: 60px;
}

.cartshirt button {
    color: white;
    background: transparent;
    outline: none;
    border: none;
}